<template>
  <div class="root">
    <input v-model="name">
    {{tests()}}
    <button @click="create">Press me to create test</button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return { name: '' }
  },
  computed: { // only getters have live queries
    ...mapGetters('test', {tests: 'find'})
  },
  methods: {
    ...mapActions('test', {
      createTest: 'create'
    }),

  create: function(){
    this.createTest({text: this.name}).then(() => {this.name = ''})
  },
  created: async function () {
    await this.find()
  }
}
}
</script>

<style>
</style>
